<template name="menu">
    <nav class="menu menu-vertical menu-left" id="menu">
        <div id="menu-toggle"><span class="glyphicon glyphicon-tasks"></span></div>
        <div class="menu-inner">
            {{>stickyNodes}}
            {{>hover}}
            {{>perturbNodes}}
            {{>labelControl}}
            {{>fontSize}}
            {{>nodeRadius}}
            {{>linkSize}}
            {{>linkDistance}}
            {{>linkStrength}}
            {{>friction}}
            {{>charge}}
            <!-- {{>chargeDistance}} -->
            {{>theta}}
            {{>gravity}}
        </div>
    </nav>
</template>